
$primary-color: #075bd9;
$primary-color-hover: #104da8;
$secondary-color: #6c757d;
$secondary-color-hover: #5d666e;
$success-color: #198754;
$success-color-hover: #115a38;
$danger-color: #dc3545;
$danger-color-hover: #a3222f;
$warning-color:#ffc107;
$warning-color-hover:#c39711;
$info-color:#0dcaf0;
$info-color-hover:#16a1bd;
